.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__twGi6 {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__twGi6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__twGi6 > :global(.__wab_flex-container) > *,
.box__twGi6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__kd8BW:global(.__wab_instance) {
  position: relative;
}
.box__oxag2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__oxag2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__oxag2 > :global(.__wab_flex-container) > *,
.box__oxag2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__oxag2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__oxag2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__oxag2 > :global(.__wab_flex-container) > *,
  .box__oxag2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__lx1T:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__ez11C {
  font-size: 48px;
}
.box__zu24T {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__zu24T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__zu24T > :global(.__wab_flex-container) > *,
.box__zu24T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__wbfDt:global(.__wab_instance) {
  position: relative;
}
.bullet___1KcPx:global(.__wab_instance) {
  position: relative;
}
.bullet___0F4V:global(.__wab_instance) {
  position: relative;
}
.plan__rFhPu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__mhbE6 {
  font-size: 48px;
}
.box__zpw {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__zpw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__zpw > :global(.__wab_flex-container) > *,
.box__zpw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__t4Gqc:global(.__wab_instance) {
  position: relative;
}
.bullet__u1X2M:global(.__wab_instance) {
  position: relative;
}
.bullet__r9Ymp:global(.__wab_instance) {
  position: relative;
}
.bullet___8W9Mz:global(.__wab_instance) {
  position: relative;
}
.plan__jbZvD:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__wrOd {
  font-size: 48px;
}
.box__oBmaN {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__oBmaN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__oBmaN > :global(.__wab_flex-container) > *,
.box__oBmaN > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__rRkkC:global(.__wab_instance) {
  position: relative;
}
.bullet__vwRnX:global(.__wab_instance) {
  position: relative;
}
.bullet__l0TWl:global(.__wab_instance) {
  position: relative;
}
.section__mP9:global(.__wab_instance) {
  position: relative;
}
.faq__jL20:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__jPh7S:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq___9Vo6K:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
